<div class="app-container">
  <nav class="sidebar">
    <app-sidebar></app-sidebar>
  </nav>

  <main class="main">
    <header class="topbar">
      <div class="tb-title">
        <i class="fas fa-users"></i>
        <span class="title-text">Cadastro de {{ pageTitle }}</span>
      </div>
      <div class="tb-actions">
        <button class="tb-btn" title="Recarregar" (click)="reload()">
          <i class="fas fa-rotate-right"></i>
        </button>
      </div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
<!-- <div class="app-container">
  <nav class="sidebar">
    <app-sidebar></app-sidebar>
  </nav>

  <main class="main">
    <header class="topbar">
      <div class="tb-title">
        <i class="fas fa-users"></i>
        <span class="title-text">Cadastro de {{ pageTitle }}</span>
      </div>
      <div class="tb-actions">
        <button class="tb-btn" title="Recarregar" (click)="reload()">
          <i class="fas fa-rotate-right"></i>
        </button> 